In [2]:
import csv
import pandas as pd
from random import sample 

df = pd.read_csv('train.csv')

In [3]:
#simple random sampling
no_of_elements = 10
random_index = sample(range(df.shape[0]), no_of_elements)
print(random_index)
print(df.iloc[random_index])

[606, 189, 108, 1, 524, 501, 372, 227, 137, 128]
      Loan_ID  Gender Married Dependents Education Self_Employed  \
606  LP002961    Male     Yes          1  Graduate            No
189  LP001647    Male     Yes          0  Graduate            No
108  LP001379    Male     Yes          2  Graduate            No
1    LP001003    Male     Yes          1  Graduate            No
524  LP002697    Male      No          0  Graduate            No
501  LP002606  Female      No          0  Graduate            No
372  LP002201    Male     Yes          2  Graduate           Yes
227  LP001758    Male     Yes          2  Graduate            No
137  LP001491    Male     Yes          2  Graduate           Yes
128  LP001451    Male     Yes          1  Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
606             3400             2500.0       173.0             360.0
189             9328                0.0       188.0             180.0
108             3800             3600.0       216.0             360.0
1               4583             1508.0       128.0             360.0
524             4680             2087.0         NaN             360.0
501             3159                0.0       100.0             360.0
372             9323             7873.0       380.0             300.0
227             6250             1695.0       210.0             360.0
137             3316             3500.0        88.0             360.0
128            10513             3850.0       160.0             180.0

     Credit_History Property_Area Loan_Status
606             1.0     Semiurban           Y
189             1.0         Rural           Y
108             0.0         Urban           N
1               1.0         Rural           N
524             1.0     Semiurban           N
501             1.0     Semiurban           Y
372             1.0         Rural           Y
227             1.0     Semiurban           Y
137             1.0         Urban           Y
128             0.0         Urban           N

In [4]:
#systematic sampling
Kth = 100
index = [i for i in range(df.shape[0]) if i%Kth==0]
print(df.iloc[index])

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
100  LP001345    Male     Yes          2  Not Graduate            No
200  LP001674    Male     Yes          1  Not Graduate            No
300  LP001964    Male     Yes          0  Not Graduate            No
400  LP002288    Male     Yes          2  Not Graduate            No
500  LP002603  Female      No          0      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
100             4288             3263.0       133.0             180.0
200             2600             2500.0        90.0             360.0
300             1800             2934.0        93.0             360.0
400             2889                0.0        45.0             180.0
500              645             3683.0       113.0             480.0
600              416            41667.0       350.0             180.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
100             1.0         Urban           Y
200             1.0     Semiurban           Y
300             0.0         Urban           N
400             0.0         Urban           N
500             1.0         Rural           Y
600             NaN         Urban           N

In [5]:
#stratified sampling
#stratas formed based on Education
no_of_elements = 4        #number of elements in each strata
unique = list(set(df['Education']))
print('stratas :', unique, '\n')
index_set = [sample(list(df.index[df['Education']==i]), no_of_elements) for i in unique]
index = [j for i in index_set for j in i]
print(df.iloc[index])

stratas : ['Not Graduate', 'Graduate']

      Loan_ID Gender Married Dependents     Education Self_Employed  \
607  LP002964   Male     Yes          2  Not Graduate            No
601  LP002950   Male     Yes          0  Not Graduate           NaN
112  LP001391   Male     Yes          0  Not Graduate            No
107  LP001370   Male      No          0  Not Graduate           NaN
389  LP002250   Male     Yes          0      Graduate            No
77   LP001259   Male     Yes          1      Graduate           Yes
583  LP002898   Male     Yes          1      Graduate            No
514  LP002652   Male      No          0      Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
607             3987             1411.0       157.0             360.0
601             2894             2792.0       155.0             360.0
112             3572             4114.0       152.0               NaN
107             7333                0.0       120.0             360.0
389             5488                0.0       125.0             360.0
77              1000             3022.0       110.0             360.0
583             1880                0.0        61.0             360.0
514             5815             3666.0       311.0             360.0

     Credit_History Property_Area Loan_Status
607             1.0         Rural           Y
601             1.0         Rural           Y
112             0.0         Rural           N
107             1.0         Rural           N
389             1.0         Rural           Y
77              1.0         Urban           N
583             NaN         Rural           N
514             1.0         Rural           N

In [15]:
#cluster sampling
#clusters formed based on number of Dependents
no_of_clusters = 5
unique = list(set(df['Dependents']))
smp = sample(unique, no_of_clusters)
print("clusters :", smp, "selected out of :", unique, '\n')
index_set = [list(df.index[df['Dependents']==i]) for i in smp]
index = [j for i in index_set for j in i]
print(df.iloc[index])

clusters : ['0', '2', '1', nan, '3+'] selected out of : [nan, '1', '3+', '0', '2']

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
6    LP001013    Male     Yes          0  Not Graduate            No
13   LP001029    Male      No          0      Graduate            No
15   LP001032    Male      No          0      Graduate            No
17   LP001036  Female      No          0      Graduate            No
18   LP001038    Male     Yes          0  Not Graduate            No
19   LP001041    Male     Yes          0      Graduate           NaN
20   LP001043    Male     Yes          0  Not Graduate            No
22   LP001047    Male     Yes          0  Not Graduate            No
25   LP001066    Male     Yes          0      Graduate           Yes
26   LP001068    Male     Yes          0      Graduate            No
28   LP001086    Male      No          0  Not Graduate            No
31   LP001095    Male      No          0      Graduate            No
33   LP001098    Male     Yes          0      Graduate            No
35   LP001106    Male     Yes          0      Graduate            No
36   LP001109    Male     Yes          0      Graduate            No
37   LP001112  Female     Yes          0      Graduate            No
38   LP001114    Male      No          0      Graduate            No
39   LP001116    Male      No          0  Not Graduate            No
40   LP001119    Male      No          0      Graduate            No
41   LP001120    Male      No          0      Graduate            No
42   LP001123    Male     Yes          0      Graduate            No
43   LP001131    Male     Yes          0      Graduate            No
44   LP001136    Male     Yes          0  Not Graduate           Yes
45   LP001137  Female      No          0      Graduate            No
47   LP001144    Male     Yes          0      Graduate            No
48   LP001146  Female     Yes          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
259  LP001864    Male     Yes         3+  Not Graduate            No
267  LP001882    Male     Yes         3+      Graduate            No
295  LP001949    Male     Yes         3+      Graduate           NaN
321  LP002053    Male     Yes         3+      Graduate            No
324  LP002065    Male     Yes         3+      Graduate            No
338  LP002113  Female      No         3+  Not Graduate            No
340  LP002115    Male     Yes         3+  Not Graduate            No
343  LP002126    Male     Yes         3+  Not Graduate            No
352  LP002141    Male     Yes         3+      Graduate            No
359  LP002160    Male     Yes         3+      Graduate            No
376  LP002219    Male     Yes         3+      Graduate            No
390  LP002255    Male      No         3+      Graduate            No
391  LP002262    Male     Yes         3+      Graduate            No
409  LP002317    Male     Yes         3+      Graduate            No
442  LP002418    Male      No         3+  Not Graduate            No
461  LP002484    Male     Yes         3+      Graduate            No
466  LP002500    Male     Yes         3+  Not Graduate            No
472  LP002519    Male     Yes         3+      Graduate            No
481  LP002536    Male     Yes         3+  Not Graduate            No
515  LP002659    Male     Yes         3+      Graduate            No
522  LP002692    Male     Yes         3+      Graduate           Yes
531  LP002720    Male     Yes         3+      Graduate            No
539  LP002740    Male     Yes         3+      Graduate            No
557  LP002795    Male     Yes         3+      Graduate           Yes
567  LP002837    Male     Yes         3+      Graduate            No
574  LP002863    Male     Yes         3+      Graduate            No
592  LP002933     NaN      No         3+      Graduate           Yes
600  LP002949  Female      No         3+      Graduate           NaN
602  LP002953    Male     Yes         3+      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
6               2333             1516.0        95.0             360.0
13              1853             2840.0       114.0             360.0
15              4950                0.0       125.0             360.0
17              3510                0.0        76.0             360.0
18              4887                0.0       133.0             360.0
19              2600             3500.0       115.0               NaN
20              7660                0.0       104.0             360.0
22              2600             1911.0       116.0             360.0
25              9560                0.0       191.0             360.0
26              2799             2253.0       122.0             360.0
28              1442                0.0        35.0             360.0
31              3167                0.0        74.0             360.0
33              3500             1667.0       114.0             360.0
35              2275             2067.0         NaN             360.0
36              1828             1330.0       100.0               NaN
37              3667             1459.0       144.0             360.0
38              4166             7210.0       184.0             360.0
39              3748             1668.0       110.0             360.0
40              3600                0.0        80.0             360.0
41              1800             1213.0        47.0             360.0
42              2400                0.0        75.0             360.0
43              3941             2336.0       134.0             360.0
44              4695                0.0        96.0               NaN
45              3410                0.0        88.0               NaN
47              5821                0.0       144.0             360.0
48              2645             3440.0       120.0             360.0
..               ...                ...         ...               ...
259             4931                0.0       128.0             360.0
267             4333             1811.0       160.0             360.0
295             4416             1250.0       110.0             360.0
321             4342              189.0       124.0             360.0
324            15000                0.0       300.0             360.0
338             1830                0.0         NaN             360.0
340             2647             1587.0       173.0             360.0
343             3173                0.0        74.0             360.0
352             2666             2083.0        95.0             360.0
359             5167             3167.0       200.0             360.0
376             8750             4996.0       130.0             360.0
390             9167                0.0       185.0             360.0
391             9504                0.0       275.0             360.0
409            81000                0.0       360.0             360.0
442             4707             1993.0       148.0             360.0
461             7740                0.0       128.0             180.0
466             2947             1664.0        70.0             180.0
472             4691                0.0       100.0             360.0
481             3095                0.0       113.0             360.0
515             3466             3428.0       150.0             360.0
522             5677             1424.0       100.0             360.0
531             4281                0.0       100.0             360.0
539             6417                0.0       157.0             180.0
557            10139                0.0       260.0             360.0
567             3400             2500.0       123.0             360.0
574             6406                0.0       150.0             360.0
592             9357                0.0       292.0             360.0
600              416            41667.0       350.0             180.0
602             5703                0.0       128.0             360.0
610             4106                0.0        40.0             180.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
6               1.0         Urban           Y
13              1.0         Rural           N
15              1.0         Urban           Y
17              0.0         Urban           N
18              1.0         Rural           N
19              1.0         Urban           Y
20              0.0         Urban           N
22              0.0     Semiurban           N
25              1.0     Semiurban           Y
26              1.0     Semiurban           Y
28              1.0         Urban           N
31              1.0         Urban           N
33              1.0     Semiurban           Y
35              1.0         Urban           Y
36              0.0         Urban           N
37              1.0     Semiurban           Y
38              1.0         Urban           Y
39              1.0     Semiurban           Y
40              1.0         Urban           N
41              1.0         Urban           Y
42              NaN         Urban           Y
43              1.0     Semiurban           Y
44              1.0         Urban           Y
45              1.0         Urban           Y
47              1.0         Urban           Y
48              0.0         Urban           N
..              ...           ...         ...
259             NaN     Semiurban           N
267             0.0         Urban           Y
295             1.0         Urban           Y
321             1.0     Semiurban           Y
324             1.0         Rural           Y
338             0.0         Urban           N
340             1.0         Rural           N
343             1.0     Semiurban           Y
352             1.0         Rural           Y
359             1.0     Semiurban           Y
376             1.0         Rural           Y
390             1.0         Rural           Y
391             1.0         Rural           Y
409             0.0         Rural           N
442             1.0     Semiurban           Y
461             1.0         Urban           Y
466             0.0         Urban           N
472             1.0     Semiurban           Y
481             1.0         Rural           Y
515             1.0         Rural           Y
522             1.0         Rural           Y
531             1.0         Urban           Y
539             1.0         Rural           Y
557             1.0     Semiurban           Y
567             0.0         Rural           N
574             1.0     Semiurban           N
592             1.0     Semiurban           Y
600             NaN         Urban           N
602             1.0         Urban           Y
610             1.0         Rural           Y

[599 rows x 13 columns]